.debug [class*="col-"]{
  position: relative;
  height: 100%;
  min-height: 30px;
  padding: 5px;
  border: 1px solid black;
  background-color: pink;
}

.debug [class*="col-"] > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.debug [class*="col-"] > .container{
  height: 100%;
}

.debug [class*="col-"] > .container [class*="col-"]{
  background-color: lightsalmon;
  border: 1px solid #fff;
}

.debug .container{
  height: 200px;
}
